body {
  color: #fff;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(14, 74, 102, 0.815);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  position: fixed;
}
.container {
  color: white;
  text-align: center;
}

/* /////Header///// */

html body {
  background-image: url("/src/image/back6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
h1 {
  font-size: ;
  color: whitesmoke;
}
p {
  color: #fff;
  text-align: center;
}
#projects-header {
  padding-left: 150px;
  padding-bottom: 2%;
  padding-right: 150px;
}
.container-grid {
  padding-bottom: 80px;
  border-radius: 50%;
  margin: auto;
  padding-left: 150px;
}
.pr {
  padding-bottom: 30px;
  padding-left: 20px;
}
.img {
  height: 320px;
  border-radius: 100%;
  border-bottom: 20px;
}
.Myprof {
  opacity: 1;
  transform: scale(1.03);
  border-radius: 50%;
}
.cont {
  font-size: 30px;
  text-align: left;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 50%;
}
input[type="text"],
input[type="email"],
textarea {
  color: white;
  background-color : transparent;
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid rgb(201, 190, 190);
}

textarea {
  height: 300px;
}
button {
  transition: all .5s ease;
  color: #fff;
  border: 3px solid white;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 2px;
  font-size: 19px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 10px; 
}
button:hover {
  background-color:red;
}
.h1{
  font-size:50px;
  margin-left: 10%;
  font-weight:20px;
}
